
@font-face {
  font-family: "Josefin Sans";
  src: url("JosefinSans-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("JosefinSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --page-width: 960px;
  --brand-fam: 'Josefin Sans';
  --header-fam: Mulish;
  --body-fam: Mulish;
  --highlight: #1A9BCC;
  --night-skies: linear-gradient(to bottom, #1B2847, #126CB4);
  --bright: #FAFF3B;
}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--body-fam);
}
header, nav, main, footer, .hero p {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}
nav, main, footer, .hero p {
  padding-left: 1rem;
  padding-right: 1rem;
}
main, .hero p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.4;
}
.hero {
  background: var(--night-skies);
  border-bottom: solid 3px black;
  border-top: solid 3px var(--bright);
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
header {
  padding-bottom: 4rem;
}
.hero p {
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: 400; */
}
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--highlight);
  transition: text-decoration-thickness .2s;
}
a:hover {
  text-decoration-thickness: 5px;
}
strong {
  font-weight: bold;
}
header p.title, header p.subtitle {
  font-family: var(--brand-fam);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-fam);
}
header p.title {
  font-size: 8rem;
  font-weight: 200;
  margin: 0;
  line-height: 1;
  text-transform: lowercase;
}
header p.subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  color: #222;
  margin: 0;
  line-height: 1;
  color: var(--bright);
}
:is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}
h1 {
  margin: 4rem 0 0 0;
  line-height: 1.2;
  font-family: Josefin Sans;
  text-transform: lowercase;
  font-size: 4rem;
  font-weight: 200;
}
h2 {
  font-size: inherit;
  margin: 0;
}
img, video {
  max-width: 100%;
}
blockquote {
  clear: both;
  border-left: 0.5rem solid var(--highlight);
  margin-left: 0;
  padding-left: 1rem;
  font-style: italic;
}

@media only screen and (max-width:750px) {
  header p.title {
    font-size: 6rem;
  }
  h1 {
    line-height: 1;
  }
}
